<article id="page-<%- page.slug || page.title %>" class="article article-type-page" itemscope itemprop="blogPost">
  <div class="article-inner">
    <header class="article-header">
      <h1 class="article-title" itemprop="name"><%- page.title %></h1>
    </header>
    <div class="article-entry" itemprop="articleBody">
      <%- page.content %>
    </div>
  </div>
</article>
